<div class="breadcrumb">
  <div class="page-header">
    <h2><%= class_name %> details</h2>
  </div>

  <% attributes.each do |attribute| -%>
  <div class="row">
    <div class="span1">
      <strong><%= attribute.human_name %></strong>
    </div>
    <div class="span8">
  	  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </div>
  </div>
  <% end -%>
</div>

<div class="breadcrumb">
  <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' %>
  <%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-default' %>
</div>
