<!DOCTYPE html>
<html>
<head>
  <title>Framework</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= menu_bar %>

<div class="container-fluid" style="padding-top: 45px">
  <% flash.each do |name, msg| %>        
    <%= display_toast_message(msg, name) %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
